doctype html
html(lang="en")
    head
        title Profile app
        link(rel='stylesheet' href='/static/styles.css')
    body
       header.navbar 
        h1 
          a(href='/') Profile App 

        nav.nav
         a(href='/profiles') All Profiles

    block content